.search {
    background-image: url(../images/icons/magnifier.png) !important;
}

.add {
    background-image: url(../images/icons/add.png) !important;
}

.update {
    background-image: url(../images/icons/add.png) !important;
}